@import "../../../index.scss";

.about-container {
  max-width: 1440px;
  margin: 5rem auto;
  padding: 0 1rem;

  section {
    border-bottom: solid 2px $red;
    h1 {
      margin: 3rem 0;
    }

    p {
      margin: 1rem 0;
    }

    a {
      color: $red;
      font-weight: 700;
      transition: 0.15s ease;

      &:hover {
        cursor: pointer;
        color: $redHover;
      }
    }

    svg {
      width: 50%;
      margin: 1rem 0;
    }
  }
}
