@import "../../index.scss";

.movie-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .movie-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }

  .image-container {
    width: 30%;

    img {
      width: 100%;
      object-fit: contain;
      border-radius: 7px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }

  .text-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 1rem;

    h1 {
      font-size: 3rem;
      font-weight: 700;
      color: white;
    }

    p {
      color: white;
      font-size: 1.1rem;
      font-weight: 300;
    }

    span {
      font-weight: 600;
    }
  }

  .trailer-container {
    margin: 5rem 0;
    p {
      color: $red;
      font-weight: 700;
      margin: 2rem 0;
    }
  }
}

@media (max-width: 800px) {
  .movie-details-container {
    .movie-info {
      flex-direction: column;

      .image-container {
        width: 70%;
      }

      .text-container {
        width: 100%;

        h1 {
          font-size: 1.5rem;
        }

        p {
          font-size: 1rem;
        }
      }
    }
  }
}
