@import "../../styles/index.scss";

.movie-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  width: 80%;
  background-color: $lowestOpacityBlack;
  backdrop-filter: blur(5px);
  margin: 2rem auto;
  border-radius: 10px;
  animation: slide-down 0.5s ease-in-out forwards;

  .movie-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }

  .image-container {
    width: 35%;

    img {
      width: 70%;
      object-fit: contain;
      border-radius: 7px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }

  .text-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 1rem;

    h1 {
      font-size: 3rem;
      font-weight: 700;
      color: $white;
    }

    p {
      color: $white;
      font-size: 1.1rem;
      font-weight: 300;
    }

    span {
      font-weight: 600;
    }
  }

  .trailer-container {
    margin: 5rem 0;
    width: 100%;

    .youtube-container {
      height: 600px;

      div {
        height: 100%;

        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }

    p {
      color: $red;
      font-weight: 700;
      margin: 2rem 0;
      text-align: center;
    }
  }
}

@media (max-width: 800px) {
  .movie-details-container {
    background-color: transparent;
    backdrop-filter: blur(0);
    width: 100vw;
    margin: 0;

    .movie-info {
      flex-direction: column;

      .image-container {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      .text-container {
        width: 100%;

        h1 {
          font-size: 1.5rem;
        }

        p {
          font-size: 1rem;
        }
      }
    }

    .trailer-container {
      margin: 0 0 2rem 0;

      .youtube-container {
        height: 300px;
        border-top: 2px solid $darkGray;
        border-bottom: 2px solid $darkGray;
      }
    }
  }
}
