@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//colors:
$white: #fff;
$black: #000;
$lightGray: #cccccc;
$darkGray: #464646;
$lowOpacityBlack: #00000056;
$lowestOpacityBlack: #00000020;
$highOpacityBlack: #000000ee;
$overlay: #000000de;
$red: #e50914;
$redHover: #b30c14;

@mixin main-logo-styles {
  color: $red;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Koulen", cursive;
  transition: 0.15s ease;

  &:hover {
    cursor: pointer;
    color: $redHover;
  }
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url(https://i.imgur.com/3Ep4ubF.png);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  background-color: $black;
}

@media (max-width: 800px) {
  body {
    background-size: auto;
  }
}
