@import "../../styles/index.scss";

.support-container {
  max-width: 1440px;
  margin: 5rem auto;
  padding: 0 1rem;
  color: $white;
  min-height: 100vh;
  animation: slide-down 0.5s ease-in-out forwards;

  section {
    border-bottom: solid 2px $red;
  }

  h1,
  p {
    color: $white;
    margin: 2rem 0;
  }

  h1 {
    font-size: 2rem;
  }

  a {
    color: $red;
    font-weight: 600;
    transition: 0.15s ease;

    &:hover {
      color: $redHover;
      cursor: pointer;
    }
  }
}
