@import "../../../index.scss";

.support-container {
  max-width: 1440px;
  margin: 5rem auto;
  padding: 0 1rem;
  color: white;
  min-height: 100vh;

  section {
    border-bottom: solid 2px $red;
  }

  h1,
  p {
    color: white;
    margin: 2rem 0;
  }

  h1 {
    font-size: 2rem;
  }

  a {
    color: $red;
    font-weight: 600;
  }
}
