@import "../../styles/index.scss";

footer {
  background-color: $black;
  color: $white;
  text-align: center;
  border-top: solid 4px $darkGray;

  .footer-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 0;
    line-height: 1.8rem;

    section {
      width: 33%;
    }

    .main-logo-container {
      a {
        text-decoration: none;
      }

      .main-logo {
        @include main-logo-styles;
      }
    }

    .social-media-links {
      display: flex;
      justify-content: center;

      li {
        padding: 1rem;
      }
    }

    ul {
      list-style: none;

      a {
        color: $lightGray;
        transition: 0.15s ease;

        &:hover {
          color: $redHover;
        }
      }
    }
  }

  .attribution {
    padding: 1rem 0;
  }
}

@media (max-width: 800px) {
  footer {
    .footer-links {
      .social-media-links {
        li {
          padding: 0.5rem;
        }
      }

      flex-direction: column;
      padding: 0;

      ul {
        margin: 1rem 0;
      }
    }

    .attribution {
      padding: 0 0 1rem 0;
    }
  }
}
