@import "../../styles/index.scss";

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  form {
    z-index: 15;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: $lowOpacityBlack;
    border: solid 2px $darkGray;
    border-radius: 5px;

    input {
      padding: 1rem;
      outline: none;
      border: none;
      width: 500px;
      color: $white;
      background-color: transparent;

      &::placeholder {
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        font-weight: 400;
      }
    }

    button {
      all: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;

      svg {
        path {
          fill: $red;
          transition: 0.15s ease;
        }
      }

      &:hover {
        cursor: pointer;
        svg {
          path {
            fill: $redHover;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .search-container {
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;

    form {
      width: 90vw;
    }
  }
}
