@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//colors:
$white: #fff;
$black: #000;
$lightGray: #cccccc;
$lightBacground: #ebe8e8;
$darkBacground: #000613;
$overlay: #000000de;
$red: #e50914;
$redHover: #c40b14;

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url(src/assets/images/main-background.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  background-color: black;
}

@media (max-width: 800px) {
  body {
    background-size: auto;
  }
}
